
* { 
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.blocoInicial { 
    width: 100%;
    height: 100%;
    background-image:url('./images/bgAzul.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blocoInicial .menuContainer { 
    display: flex;
    justify-content: space-around;   
    padding-top:2%;
}

.blocoInicial .menuContainer a { 
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    font-family: "redonda", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.blocoInicial .menuContainer a:hover { 
    cursor: pointer;
    opacity: 0.8;
}

.blocoInicial .logoCentral { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blocoInicial .logoCentral img { 
    width: 50%;
    max-width:500px;
}

.blocoApresentacao { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #0040BC;
}

.blocoApresentacao .ladoEsquerdo, .blocoApresentacao .ladoDireito{ 
    width: 50%;
    padding: 2%;
}

.blocoApresentacao .ladoEsquerdo { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocoApresentacao .ladoEsquerdo .tituloContainer { 
    margin-top: 5%;
    
    font-family: "redonda", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.blocoApresentacao .ladoEsquerdo .titulo { 
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 2%;
    line-height: 50px;
    margin-top: 10%;
}

.blocoApresentacao .ladoDireito { 
    display: flex;
    flex-direction: column;

}


.blocoApresentacao .ladoDireito p { 
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2%;
    line-height: 50px;
    margin-top: 3%;
    font-family: "redonda", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.videoBloco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fff;
    height: 100%;
    width: 100%;
    min-height: 800px;
    background-image:url('./images/bgVerde.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.videoBloco .video {
    width: 75vw;
    height: 85vh;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('./images/bgGrade.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: contain;
    background-position: center;
}
.videoBloco .video .exibindoVideo,
.videoBloco .video iframe,
.videoBloco .video video {
    width: 100%; /* Reduza a largura para 60% do contêiner */
    max-width: 900px; /* Defina uma largura máxima para o vídeo */
    height: auto; /* Mantenha a altura automática para manter a proporção original */
}


.convite{
    padding-top: 5%;
    background-color: #0040BC;
    display: flex;
    padding-bottom: 5%;
    padding-left: 5%;
}



.conviteDireito{
    width: 60%;
}

.conviteEsquerdo{
    color: #fff;
    width: 25%;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2%;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    font-family: "redonda", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 200px;
}


.conviteDireito{ 
    display:flex;
    justify-content: center;
}

.conviteDireito img{
    max-width: 50%;
    max-height: 82%;
}


.sobrepor{
    position:relative;
    left: 25%;
}

.tituloConvite{
    font-size: 70px;
    letter-spacing: 2px;
    margin-bottom: 4%;
    line-height: 60px;
    font-family: "redonda", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.textConvite{
    font-size: 100%;
    line-height: 50px;
    font-family: "redonda", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.contatoSec{
    background-color: #0040BC;
}
.entreContato{
    display: flex;
}

.tituloContato{
    font-size: 100px;
    margin-right: 400px;
    color: white;
    text-align: right;
    font-family: "redonda", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contatoButton {
    color: white;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: 0 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;

}

.tagContato{
    margin-left: 100px;
}
.footerContainer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #00359B;
    font-family: "redonda", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.entreContato{
    width: 100%;
}

.entreContato img{
    width: 50%;
}

.entreContato .contato{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.buttonContainer {
    padding-left: 40%;
}

/* RESPONSIVO */

@media (max-width: 1440px) {
    .convite{
        padding-top: 5%;
        background-color: #0040BC;
        display: flex;
        padding-bottom: 5%;
        flex-direction: column;

    }
    .conviteEsquerdo{
        width: 50%;
    }
    
}





/* Celulares */

@media (max-width: 900px) {
    .convite{
        flex-direction: column;
    }
    .conviteEsquerdo{
        margin-left: 0px;
    }

    .conviteEsquerdo, .conviteDireito {
        width: 100%;
    }

    .sobrepor {
        left: 20%;
    }

    .tituloConvite{
        font-size: 42px;
    }

    .textConvite {
        font-size: 70%;
        padding: 0% 5%;
    }

    .conviteDireito {
        margin-left: -15%;
    }

    .blocoApresentacao{
        flex-direction: column;
    }

    .blocoApresentacao .ladoEsquerdo, .blocoApresentacao .ladoDireito{
        width: 100%;
    }

    .blocoApresentacao .ladoEsquerdo img{
        width:50%;
    }

    .blocoApresentacao .ladoEsquerdo .titulo {
        font-size: 3rem;
    }

    .blocoApresentacao .ladoDireito p {
        font-size: 1rem;
        padding: 0% 5%;
    }

    .contatoSec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .entreContato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
    
    .tituloContato{
        font-size:48px;
        text-align: center;
    }

    .contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contatoSec img{
        width: 100%;
    }

    .buttonContainer{
        padding-bottom: 5%;
    }

    .contatoButton {
        margin-left: 25%;
    }
}

@media (max-width: 768px) {
    .tituloConvite{
        margin-left: 30px;
    }
    .itensHeader{
        font-size: 17px !important;
    }
    .imgIcon{
        height: 18px;
    }
    .contatoButton{
        font-size: 15px;
        width: 170px;
    }
    .blocoApresentacao{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .ladoDireito{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 100%;
        margin-left: 0px;
        
    }

    .ladoDireito p {
        width: 50%;
    }
    .videoBloco .video .exibindoVideo,
    .videoBloco .video iframe,
    .videoBloco .video video {
        width: 100%; /* Ajuste a largura para 80% do contêiner */
        max-width: 600px; /* Reduza a largura máxima para 600 pixels */
    }
}
    


@media (max-width: 425px) {
    .imgIcon{
        height: 20px;
        
    }
    .itensEsquerda{
        display: none;
    }
    .itensHeader{
        font-size: 11px !important;
    }
    
    .itensCentro{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 5px;
    }
    .entreContato .contato{
        width: 0%;
        margin-left: 100px;
    }
    .contatoButton{
        font-size: 10px;
        width: 150px;
    }
    .tituloConvite{
        margin-left: 20px;
        padding-top: 50px;
    }
    .blocoApresentacao .ladoEsquerdo .tituloContainer { 
        margin-top: 5%;
        padding-left: 0%;
        font-family: "redonda", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .blocoApresentacao .ladoDireito p {
        line-height: 30px;
        margin-left: 20px;

        }
    .menuContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .textConvite{
        line-height: 30px;
    }
    .tituloContato{
        margin-right: 0px;
    }
    .videoBloco .video .exibindoVideo,
    .videoBloco .video iframe,
    .videoBloco .video video {
        width: 100%; /* Ajuste a largura para 100% do contêiner */
        max-width: none; /* Remova a largura máxima */
    }

    
}

@media (max-width: 320px) {
    .itensHeader{
        font-size: 9px !important;
    }
 }

